/* main colors*/
/* main founts-*/
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  list-style-type: none;
}

address {
  font-style: normal;
}

a {
  text-decoration: none;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 300px;
  padding-right: 10px;
  padding-left: 10px;
}

@media screen and (min-width: 1200px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
    max-width: 1170px;
  }
}

@media screen and (max-width: 720px) {
  .container {
    text-align: center;
  }
}

.header-hero {
  padding-top: 20px;
  overflow: hidden;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(43, 43, 43, 0.4)), to(rgba(43, 43, 43, 0.4))), url("../../images/header-hero/header-hero-mobil.png");
  background-image: linear-gradient(to right, rgba(43, 43, 43, 0.4), rgba(43, 43, 43, 0.4)), url("../../images/header-hero/header-hero-mobil.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.header-hero .container {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

@media screen and (min-width: 1200px) {
  .header-hero .container {
    height: unset;
    overflow: visible;
  }
}

@media screen and (max-width: 720px) {
  .header-hero {
    margin-bottom: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .header-hero {
    margin-bottom: 100px;
    padding-bottom: 225px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(43, 43, 43, 0.4)), to(rgba(43, 43, 43, 0.4))), url("../../images/header-hero/header-hero.jpg");
    background-image: linear-gradient(to right, rgba(43, 43, 43, 0.4), rgba(43, 43, 43, 0.4)), url("../../images/header-hero/header-hero.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .header-hero {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(43, 43, 43, 0.4)), to(rgba(43, 43, 43, 0.4))), url("../../images/header-hero/header-hero@x2.jpg");
    background-image: linear-gradient(to right, rgba(43, 43, 43, 0.4), rgba(43, 43, 43, 0.4)), url("../../images/header-hero/header-hero@x2.jpg");
  }
}

.header__container {
  /* color: rgb(43, 43, 43); */
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 1200px) {
  .header {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 200px;
  }
}

.header__address {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 25px;
  color: #ffffff;
  display: none;
}

@media screen and (min-width: 721px) {
  .header__address {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 16px;
  }
  .header__address p + p {
    margin-left: 20px;
  }
}

.hero {
  color: #ffffff;
  position: relative;
  margin-left: 0;
  margin-right: auto;
}

.hero__title {
  max-width: 150px;
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: 900;
  font-size: 32px;
  line-height: 46px;
}

@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 580px;
    font-size: 48px;
    line-height: 64px;
    margin-bottom: 31px;
  }
}

.hero__paragraph {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 23px;
  max-width: 150px;
}

@media screen and (min-width: 1200px) {
  .hero__paragraph {
    font-size: 24px;
    line-height: 33px;
    max-width: 400px;
  }
}

.hero::after {
  content: "";
  position: absolute;
  left: 50px;
  top: 110%;
  width: 163px;
  height: 50px;
  background-image: url("../../images//svg/Vector.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (min-width: 1200px) {
  .hero::after {
    left: 350px;
  }
}

.hero__contact-us {
  position: relative;
  top: 181px;
  left: 850px;
  height: 100vh;
  -webkit-box-shadow: 0px 1078px 0 1000px rgba(58, 70, 97, 0.9);
          box-shadow: 0px 1078px 0 1000px rgba(58, 70, 97, 0.9);
}

@media screen and (min-width: 1200px) {
  .hero__contact-us {
    -webkit-box-shadow: unset;
            box-shadow: unset;
    left: unset;
    top: unset;
  }
}

@media screen and (min-width: 1200px) {
  .hero-backdrop__contact-us {
    -webkit-box-shadow: unset;
            box-shadow: unset;
    left: 565px;
    top: 130px;
  }
}

.menu-button {
  color: #ffe66d;
}

@media screen and (min-width: 1200px) {
  .menu-button {
    display: none;
  }
}

.menu-button.is-open {
  color: red;
  position: fixed;
  top: 50%;
  right: 50%;
}

.nav-menu {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  position: absolute;
  z-index: 2;
  top: 120px;
  left: 440px;
}

.nav-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 180px;
}

@media screen and (min-width: 1200px) {
  .nav-menu__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    max-width: unset;
  }
}

@media screen and (min-width: 1200px) {
  .nav-menu {
    top: 325px;
    left: 690px;
  }
}

.nav__item {
  margin-right: 5px;
}

@media screen and (min-width: 1200px) {
  .nav__item {
    margin-right: 25px;
  }
}

.nav__item:last-child {
  margin-right: 0;
}

@media screen and (min-width: 1200px) {
  .nav__item:last-child {
    margin-right: 0;
  }
}

.nav__item:nth-child(-n + 3) {
  margin-bottom: 5px;
}

@media screen and (min-width: 1200px) {
  .nav__item:nth-child(-n + 3) {
    margin-bottom: unset;
  }
}

.nav__item.current {
  position: relative;
}

.nav__item.current::before {
  content: "";
  position: absolute;
  top: -10px;
  left: 0px;
  width: 30px;
  height: 3px;
  background: #6ca6c1;
}

.nav__item .select {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  color: #ffffff;
  background-color: transparent;
  border: none;
}

.nav__item .select option {
  background-color: rgba(57, 89, 165, 0.7);
  border: none;
}

@media screen and (min-width: 1200px) {
  .nav__item .select {
    font-size: 14px;
    line-height: 19px;
    /* identical to box height */
  }
}

.nav__link {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */
  color: #ffffff;
  white-space: nowrap;
}

@media screen and (min-width: 1200px) {
  .header-addres-cosult {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.consultation {
  display: none;
}

@media screen and (min-width: 1200px) {
  .consultation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #ffffff;
    background-color: transparent;
    width: 233px;
    height: 43px;
    -webkit-box-shadow: 1765px 0px 0 2000px rgba(58, 70, 97, 0.7);
            box-shadow: 1765px 0px 0 2000px rgba(58, 70, 97, 0.7);
  }
}

.header-hero > .container.visible {
  overflow: visible;
}

.about-us {
  margin-bottom: 50px;
}

@media screen and (min-width: 1200px) {
  .about-us {
    margin-bottom: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .about-us__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.about-us__image-block picture {
  display: block;
  -width: 300px;
}

@media screen and (min-width: 1200px) {
  .about-us__image-block {
    background: #c4c4c4;
  }
  .about-us__image-block picture {
    width: 581px;
  }
}

.about-us__image {
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 100%;
  display: block;
  background: #c4c4c4;
}

.about-us__info {
  padding-top: 20px;
  position: relative;
}

@media screen and (min-width: 1200px) {
  .about-us__info {
    margin-left: 30px;
  }
}

.about-us__info::before {
  content: "";
  position: absolute;
  top: 0;
  width: 30px;
  height: 3px;
  background-color: #6ca6c1;
}

.about-us__title {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  color: #3a4661;
  margin-bottom: 50px;
}

.about-us__paragraph {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  /* or 187% */
  color: #7281a4;
  margin-bottom: 50px;
}

.about-us__superiority-list li + li {
  margin-bottom: 35px;
}

@media screen and (min-width: 1200px) {
  .about-us__superiority-list li + li {
    margin-left: 55px;
  }
}

@media screen and (min-width: 1200px) {
  .about-us__superiority-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.about-us__superiority-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about-us__superiority-number {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  line-height: 87px;
  color: #6ca6c1;
  margin-bottom: 10px;
}

.about-us__superiority-text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  /* identical to box height */
  color: #3f3f3f;
}

.benefits {
  margin-bottom: 50px;
}

@media screen and (min-width: 1200px) {
  .benefits {
    margin-bottom: 100px;
  }
}

.benefits__container {
  padding-top: 20px;
  position: relative;
}

.benefits__container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 30px;
  height: 3px;
  background: #6ca6c1;
}

.benefits__title {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  /* identical to box height */
  text-align: center;
  color: #3a4661;
  margin-bottom: 50px;
}

@media screen and (min-width: 1200px) {
  .benefits__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.benefits__item {
  padding: 55px 30px;
  background: #f5f8f9;
}

.benefits__item + .benefits__item {
  margin-top: 30px;
}

@media screen and (min-width: 1200px) {
  .benefits__item + .benefits__item {
    margin-top: 0px;
    margin-left: 30px;
  }
}

.benefits__item-title {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  max-width: 230px;
  margin-bottom: 20px;
  color: #3f3f3f;
}

.benefits__line-item {
  width: 30px;
  height: 3px;
  margin-bottom: 20px;
  background: #3a4661;
}

.benefits__item-paragraph {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  /* or 162% */
  color: #3f3f3f;
}

.benefits__image {
  display: block;
  margin-bottom: 35px;
}

.our-programs {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-bottom: 50px;
  background-color: #f5f8f9;
}

@media screen and (min-width: 1200px) {
  .our-programs {
    padding-top: 100px;
    padding-bottom: 100px;
    margin-bottom: 100px;
  }
}

@media screen and (min-width: 1200px) {
  .our-programs__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.our-programs__info-block {
  width: 100%;
  padding-top: 20px;
  position: relative;
}

.our-programs__info-block::before {
  content: "";
  position: absolute;
  top: 0;
  width: 30px;
  height: 3px;
  background-color: #6ca6c1;
}

@media screen and (min-width: 1200px) {
  .our-programs__info-block {
    width: 480px;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

.our-programs__title {
  max-width: 300px;
}

@media screen and (min-width: 1200px) {
  .our-programs__title {
    max-width: unset;
    font-family: "Playfair Display", serif;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    margin-bottom: 50px;
    color: #3a4661;
    max-width: 478px;
  }
}

.our-programs__list-item {
  padding-left: 17px;
  max-width: 300px;
}

.our-programs__list-item::before {
  content: "";
  position: absolute;
  left: 0;
  width: 4px;
  height: 85px;
  background-color: #6ca6c1;
}

@media screen and (min-width: 1200px) {
  .our-programs__list-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.our-programs__list-item + .our-programs__list-item {
  margin-top: 50px;
}

.our-programs__program-info_time {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #7281a4;
}

.our-programs__program-info_countri-count {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 30px;
  /* identical to box height, or 214% */
  color: #7281a4;
}

.our-programs__program-info_separator {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 30px;
  /* identical to box height, or 231% */
  color: #7281a4;
}

.our-programs__program-info_price {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 30px;
  /* identical to box height, or 167% */
  color: #7281a4;
}

.our-programs__program-info {
  max-width: 300px;
}

@media screen and (min-width: 1200px) {
  .our-programs__program-info {
    max-width: unset;
  }
}

.our-programs__program-info_button {
  width: 160px;
  height: 40px;
  border: unset;
  background: #ffe66d;
}

.our-programs__image-block {
  display: none;
}

@media screen and (min-width: 1200px) {
  .our-programs__image-block {
    display: block;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
  }
}

.our-programs__image {
  display: block;
  width: 100%;
  height: 100%;
}

.our-team {
  margin-bottom: 50px;
}

@media screen and (min-width: 1200px) {
  .our-team {
    margin-bottom: 100px;
  }
}

.our-team__container {
  padding-top: 20px;
  position: relative;
}

.our-team__container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 30px;
  height: 3px;
  background: #6ca6c1;
}

.our-team__title {
  margin-bottom: 50px;
  font-family: Playfair Display;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  /* identical to box height */
  text-align: center;
  color: #3a4661;
}

@media screen and (min-width: 1200px) {
  .our-team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.our-team__list-item {
  padding-top: 42px;
  padding-bottom: 30px;
  width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background: #f5f8f9;
}

.our-team__list-item + .our-team__list-item {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

@media screen and (min-width: 1200px) {
  .our-team__list-item + .our-team__list-item {
    margin: unset;
  }
}

.our-team__photo-block {
  margin-bottom: 30px;
}

.our-team__name {
  margin-bottom: 10px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  /* identical to box height */
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #3f3f3f;
}

.our-team__about-work {
  margin-bottom: 18px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  /* identical to box height */
  text-align: center;
  color: #6ca6c1;
}

.our-team__button {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 30px;
  /* or 250% */
  letter-spacing: 0.1em;
  width: 160px;
  height: 40px;
  border: unset;
  background: #ffe66d;
}

.new-passport {
  width: 100%;
  overflow: hidden;
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(43, 43, 43, 0.4)), to(rgba(43, 43, 43, 0.4))), url("../../images//create-passport/creators-team-mobile.jpg");
  background-image: linear-gradient(to right, rgba(43, 43, 43, 0.4), rgba(43, 43, 43, 0.4)), url("../../images//create-passport/creators-team-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 1200px) {
  .new-passport {
    margin-bottom: 100px;
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(43, 43, 43, 0.4)), to(rgba(43, 43, 43, 0.4))), url("../../images/create-passport/creators-team.jpg");
    background-image: linear-gradient(to right, rgba(43, 43, 43, 0.4), rgba(43, 43, 43, 0.4)), url("../../images/create-passport/creators-team.jpg");
  }
}

@media screen and (min-device-pixel-ratio: 2), screen and (-webkit-min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx) {
  .new-passport {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(43, 43, 43, 0.4)), to(rgba(58, 70, 97, 0.7))), url("../../images//create-passport/creators-team@x2.jpg");
    background-image: linear-gradient(to right, rgba(43, 43, 43, 0.4), rgba(58, 70, 97, 0.7)), url("../../images//create-passport/creators-team@x2.jpg");
  }
}

.new-passport__title-block {
  position: relative;
}

.new-passport__title-block::after {
  content: "";
  position: absolute;
  background-image: url("../../images//svg/Vector.svg");
  background-repeat: no-repeat;
  background-size: contain;
  width: 133px;
  height: 40px;
  left: 30%;
  top: 100%;
}

@media screen and (min-width: 1200px) {
  .new-passport__title-block::after {
    left: 65%;
    top: 110%;
    width: 163px;
    height: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .new-passport__title-block {
    width: 570px;
  }
}

.new-passport__title {
  max-width: 60px;
  font-family: "Playfair Display", serif;
  font-weight: 900;
  color: #ffffff;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
  max-width: 200px;
}

@media screen and (min-width: 1200px) {
  .new-passport__title {
    margin-bottom: 20px;
    font-size: 48px;
    line-height: 64px;
    max-width: 574px;
  }
}

.new-passport__container {
  padding-top: 105px;
  padding-bottom: 130px;
  position: relative;
}

@media screen and (min-width: 1200px) {
  .new-passport__container {
    padding-top: 110px;
    padding-bottom: 210px;
    position: relative;
  }
}

.new-passport__contact-us {
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-box-shadow: 0px 1073px 0 1000px rgba(58, 70, 97, 0.7);
          box-shadow: 0px 1073px 0 1000px rgba(58, 70, 97, 0.7);
  top: -30px;
  left: 323px;
}

@media screen and (min-width: 1200px) {
  .new-passport__contact-us {
    top: 30px;
    left: 715px;
  }
}

.new-passport__contact-us .contact-us__text {
  -webkit-box-shadow: 100px 5070px 0 5000px rgba(58, 70, 97, 0.7);
          box-shadow: 100px 5070px 0 5000px rgba(58, 70, 97, 0.7);
}

.passport__open-menu {
  left: -2px;
}

.passport__open-menu .contact-us__text {
  -webkit-box-shadow: 100px 5070px 0 5000px rgba(58, 70, 97, 0.9);
          box-shadow: 100px 5070px 0 5000px rgba(58, 70, 97, 0.9);
}

.passport__open-menu .new-passport__contact-us {
  -webkit-box-shadow: 0px 1073px 0 1000px rgba(58, 70, 97, 0.9);
          box-shadow: 0px 1073px 0 1000px rgba(58, 70, 97, 0.9);
}

.news-events {
  margin-bottom: 50px;
  position: relative;
}

@media screen and (min-width: 1200px) {
  .news-events {
    margin-bottom: 100px;
  }
}

.news-events__container {
  padding-top: 20px;
  position: relative;
}

.news-events__container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  width: 30px;
  height: 3px;
  background: #6ca6c1;
}

.news-events__title {
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 48px;
  /* identical to box height */
  text-align: center;
  color: #3a4661;
  margin-bottom: 50px;
}

@media screen and (min-width: 1200px) {
  .news-events__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 100px;
  }
}

.news-events__item + .news-events__item {
  margin-top: 30px;
}

@media screen and (min-width: 1200px) {
  .news-events__item + .news-events__item {
    margin-top: 0px;
    margin-left: 30px;
  }
}

.news-events__photo-block {
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .news-events__photo-block {
    width: 370px;
  }
}

.news-events__image {
  width: 100%;
}

.news-events__info {
  padding-right: 17px;
  padding-left: 17px;
  padding-bottom: 10px;
  position: relative;
}

.news-events__info::before {
  content: "";
  position: absolute;
  left: 0;
  width: 4px;
  height: 78px;
  background: #6ca6c1;
  background-color: #6ca6c1;
}

.news-events__data {
  margin-bottom: 10px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #7281a4;
}

.news-events__card-title {
  margin-bottom: 15px;
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #3f3f3f;
}

.news-events__paragraph {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 21px;
  /* or 162% */
  color: #3f3f3f;
}

.footer {
  background-color: #5b6277;
}

.footer__container {
  padding-top: 25px;
  padding-bottom: 25px;
}

@media screen and (min-width: 1200px) {
  .footer__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1200px) {
  .footer__item + .footer__item {
    margin-left: 80px;
  }
  .footer__item:last-child {
    margin-right: 20px;
  }
}

.footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 10px;
}

.footer__logo {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

@media screen and (min-width: 1200px) {
  .footer__logo {
    margin-left: 0;
  }
}

.footer__copyright {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}

.footer__contact {
  margin-bottom: 5px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
}

.footer__contact-link {
  margin-bottom: 5px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #ffffff;
}

.footer__contact-link:last-child {
  margin-bottom: 0;
}

.footer__contact-link:hover {
  color: #ffe66d;
}

.footer__contact-link:focus {
  color: #ffe66d;
}

.menu-button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (min-width: 721px) {
  .menu-button {
    display: none;
  }
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
}

.menu-button.is-open {
  position: fixed;
  top: 10px;
  right: 15px;
  z-index: 2;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.icon-menu {
  fill: currentColor;
}

.icon-cross {
  fill: currentColor;
}

.logo {
  width: 156px;
  height: 52px;
  margin-left: 0;
  margin-right: 109px;
}

.logo__footer {
  width: 146px;
  height: 56px;
}

.contact-us {
  position: absolute;
  height: 380px;
  width: 209px;
  border: 3px solid #ffffff;
  overflow: hidden;
}

@media screen and (min-width: 1200px) {
  .contact-us {
    height: 549px;
    width: 351px;
    top: -5px;
    right: 220px;
  }
}

.contact-us__backdrop {
  position: absolute;
  width: 920px;
  height: 816px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.contact-us__form {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  margin-top: 75px;
}

@media screen and (min-width: 1200px) {
  .contact-us__form {
    margin-top: 175px;
  }
}

.contact-us__form input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 250px;
  height: 25px;
  margin-bottom: 5px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 18px;
  /* identical to box height */
  background-color: inherit;
  border: 1px solid #ffffff;
  color: #ffffff;
  padding-left: 5px;
}

.contact-us__form input::-webkit-input-placeholder {
  color: #ffffff;
}

.contact-us__form input:-ms-input-placeholder {
  color: #ffffff;
}

.contact-us__form input::-ms-input-placeholder {
  color: #ffffff;
}

.contact-us__form input::placeholder {
  color: #ffffff;
}

@media screen and (min-width: 1200px) {
  .contact-us__form input {
    width: 290px;
    height: 45px;
    margin-bottom: 10px;
  }
  .contact-us__form input:last-child {
    margin-bottom: 20px;
  }
}

.contact-us__form button {
  width: 250px;
  height: 25px;
  background: #ffe66d;
}

@media screen and (min-width: 1200px) {
  .contact-us__form button {
    width: 290px;
    height: 45px;
  }
}

.contact-us__text {
  padding: 0;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 14px;
  line-height: 23px;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.4);
  border: unset;
  -webkit-box-shadow: 100px 5075px 0 5000px rgba(58, 70, 97, 0.9);
          box-shadow: 100px 5075px 0 5000px rgba(58, 70, 97, 0.9);
}

@media screen and (min-width: 1200px) {
  .contact-us__text {
    font-size: 24px;
    line-height: 33px;
    height: 80px;
    -webkit-box-shadow: unset;
            box-shadow: unset;
  }
}

.open-menu {
  position: fixed;
  left: -314px;
}
/*# sourceMappingURL=main.css.map */